.w-cont {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;

  @media screen and (max-width: 960px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .indiv-contL {
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin-right: 1.5rem;
    margin: 1rem 1.5rem;

    @media screen and (min-width: 961px) {
      max-width: 40%;
    }

    @media screen and (max-width: 960px) {
      flex-direction: row-reverse;
      justify-content: flex-end;

    }

    @media screen and (max-width: 780px) {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 20px;
    }

    .desc {
      margin-right: 1.5rem;
      text-align: end;
      padding: 5px 0px;

      @media screen and (min-width: 961px) {
        max-width: 80%;
      }

      @media screen and (max-width: 960px) {
        text-align: start;
        margin-left: 1.5rem;
        margin-right: 0rem;
      }

      @media screen and (max-width: 780px) {
        text-align: center;
        padding: 0px;
        margin: 1rem 0px;
      }
    }

    .icon {
      // width: 100px;
      // width: 20%;
      // height: 90%;

      img {
        width: 75px;
      }
    }
  }

  .indiv-contR {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 1rem 1.5rem;

    //for larger screens
    @media screen and (min-width: 961px) {
      max-width: 40%;
      justify-content: left;
    }

    //for tablets
    @media screen and (max-width: 960px) {
      //   display: flex;
      flex-direction: row;
      justify-content: flex-end;

      //   text-align: end;
      //   margin: 1.5rem 1rem;
    }

    //for mobile devices
    @media screen and (max-width: 780px) {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 20px;
    }

    .desc {
      margin-left: 1.5rem;
      text-align: start;

      @media screen and (min-width: 961px) {
        max-width: 80%;
      }

      @media screen and (max-width: 960px) {
        text-align: end;
        margin-right: 1.5rem;
        margin-left: 0rem;
        justify-content: flex-end;
      }

      @media screen and (max-width: 780px) {
        text-align: center;
        padding: 0px;
        margin: 1rem 0px;
      }
    }

    .icon {
      // width: 100px;
      // width: 75px;
      // height: 90%;
      // width: 70px;
      //   height: 100px;
      //   background-color: red;

      img {
        width: 75px;
      }
    }
  }
}
