.main-cont1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px;
  margin: auto;
  width: 60%;
  position: relative;
  margin-bottom: 2rem;

  #img-cont1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    object-fit: cover;
  }

  .sub-cont1 {
    width: 50%;
    margin: auto;
    position: absolute;
    // top: 0;
    left: 0;
    top: 40%;
    left: 25%;
    z-index: 100;
  }
}
