.main-cont {
  //   background-image: url("https://c2.staticflickr.com/9/8817/28973449265_07e3aa5d2e_b.jpg");
  //   background-color: red;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
  width: 200px;
  // width: 50%;
  margin: auto;
  width: 100%;
  position: relative;
  margin-bottom: 2rem;

  #img-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    object-fit: cover;
  }

  .sub-cont {
    position: absolute;
    // top: 40%;
    margin-top: 15%;
    left: 20px;
    right: 20px;
    z-index: 100;
    // bottom: 30%;
  }
}
// bg-red-400 text-center top-1/2 absolute
